$color-active: hsl(249, 99%, 64%);
$color-activeB: hsl(278, 94%, 30%);
$color-error: hsl(0, 100%, 66%);
$color-white: hsl(0, 0%, 100%);
$color-light-grey: hsl(270, 3%, 87%);
$color-dark-grey: hsl(279, 6%, 55%);
$color-dark-violet: hsl(278, 68%, 11%);

$font-size: 18px;