@use 'styles/variables' as v;

:root {
  font-family: v.$ff;
  font-weight: 400;
  font-size: v.$font-size;

  color: v.$color-dark-violet;
  background-color: v.$color-white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: v.$ff;
  font-size: v.$font-size;
}